.Chat
  .ChatHeader
    .ChatHeader__group
      .ChatHeader__groupName
        Test
      %ul.memberList
        Member : 
        %li.memberName
          abe 
        %li.memberName
          tanaka
    .Edit-form
      =link_to "#", class:"Edit-btn" do
        Edit
  .ChatTable
    .Message
      .MessageInfo
        .MessageInfo__name
          YUKIKO
        .MessageInfo__date
          2020/7/9 18:00
      .MessageText
        Test message
    .Message
      .MessageInfo
        .MessageInfo__name
          yuki
        .MessageInfo__date
          2020/7/9 19:00
      .MessageText
        ２番目のメッセージ
  .Footer