.Chat
  .ChatHeader
    .ChatHeader__group
      .ChatHeader__groupName
        Test
      %ul.memberList
        Member : 
        %li.memberName
          abe 
        %li.memberName
          tanaka
    .Edit-form
      =link_to "#", class:"Edit-btn" do
        Edit
  .ChatTable
  .Footer