.MainTable
  .MainHeader
    .MainHeader__group
      .MainHeader__groupName
        Test
      %ul.MainHeader__memberList
        Member : 
        %li.MainHeader__member
          abe 
        %li.MainHeader__member
          tanaka
    .MainHeader__Edit-form
      =link_to "#", class:"MainHeader__Edit-btn" do
        Edit
  .ChatTable
    .Message
      .Message__info
        .Message__name
          YUKIKO
        .Message__date
          2020/7/9 18:00
      .Message__text
        1st message
    .Message
      .Message__info
        .Message__name
          kaori
        .Message__date
          2020/7/9 18:00
      .Message__text
        2nd message
  .Footer
    .FormBox
      .MessageForm
        %input{type: :text,class: "MessageForm__text",placeholder: "type a message"}
        %label{class: "MessageForm__label"}
          =icon('far', 'image', class: "MessageForm__image")
          %input{type: :file,class: "MessageForm__file"}
      %input{type: :submit, value: "Send", name: "commit",class: "Send-btn"}