.Chat
  .ChatHeader
    .ChatHeader__group
      .ChatHeader__groupName
        Test
      %ul.memberList
        Member : 
        %li.memberName
          abe 
        %li.memberName
          tanaka
    .Edit-form
      =link_to "#", class:"Edit-btn" do
        Edit
  .ChatTable
    .Message
      .MessageInfo
        .MessageInfo__name
          YUKIKO
        .MessageInfo__date
          2020/7/9 18:00
      .MessageText
        Test message
    .Message
      .MessageInfo
        .MessageInfo__name
          yuki
        .MessageInfo__date
          2020/7/9 19:00
      .MessageText
        ２番目のメッセージ
  .Footer
    .FormBox
      .Message-form
        %input{type: :text,class: "Message-form__text",placeholder: "type a message"}
        %label{class: "Message-form__label"}
          =icon('far', 'image', class: "Message-form__image")
          %input{type: :file,class: "Message-form__file"}
      %input{type: :submit, value: "Send", name: "commit",class: "Send-btn"}