.Sidebar
  .Header
    .User-table
      .User-table__name
        = current_user.name
      .User-table__icons
        =link_to new_group_path,class: "User-table__icon" do
          =icon('fas', 'edit')
        =link_to edit_user_path(current_user), class: "User-table__icon" do
          =icon('fas', 'cog')
  .GroupList
    - current_user.groups.each do |group|
      .Group
        = link_to '#' do
          .Group__name
            = group.name
          .Group__message
            No message
