.Side
  .Header
    .Header__list
      .Header__username
        YUKIKO
      .Header__icons
        =link_to "#",class: "Contents__btn" do
          =icon('fab', 'edit')
        =link_to "#", class: "Contents__btn" do
          =icon('fas', 'cog')
  .GroupList
    .Group
      .Group__name
        techcamp
      .Group__message
        No message
    .Group
      .Group__name
        Techcamp2
      .Group__message
        New massage
    .Group
      .Group__name
        Techcamp3
      .Group__message
        No message