.Sidebar
  .Header
    .User-table
      .User-table__name
        = current_user.name
      .User-table__icons
        =link_to "#",class: "User-table__icon" do
          =icon('fas', 'edit')
        =link_to edit_user_path(current_user), class: "User-table__icon" do
          =icon('fas', 'cog')
  .GroupList
    .Group
      .Group__name
        group1
      .Group__message
        No message
    .Group
      .Group__name
        group2
      .Group__message
        New massage
    .Group
      .Group__name
        group3
      .Group__message
        No message