.Side
  .Header
    .Header__list
      .Header__username
        YUKIKO
      .Header__icons
        =link_to "#",class: "Contents__btn" do
          =icon('fab', 'edit')
        =link_to "#", class: "Contents__btn" do
          =icon('fas', 'cog')
  .Groups
