* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  height: 100vh;
}

.Side{
  width:300px;
  color:#ffffff;
  font-weight: bold;
}

.Header{
  height: 100px;
  background-color: #253141;
  display: flex;
  align-items: center;
  justify-content: center;
  &__list{
    height: 20px;
    width: 260px;
    display: flex;
    justify-content: space-between;
  }
  &__username{
      font-size: 16px;
      text-align: center;
  }
  &__icons{
    width: 60px;
    display: flex;
    justify-content: flex-end;
  }
}

.Contents__btn{
  text-decoration: none;
  color: #ffffff;
  margin-left: 5px;
}
.Groups{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
}

.Chat{
  width: calc(100vw - 300px);
  &__header{
  height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  }
  &__message-table{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  }
  &__message-form{
  height: 90px;
  background-color: #d2d2d2;
  }
}