* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  height: 100vh;
}

.Side{
  width:300px;
  color:#ffffff;
  font-weight: bold;
}

.Header{
  height: 100px;
  background-color: #253141;
  display: flex;
  align-items: center;
  justify-content: center;
  &__list{
    height: 20px;
    width: 260px;
    display: flex;
    justify-content: space-between;
  }
  &__username{
      font-size: 16px;
      text-align: center;
  }
  &__icons{
    width: 60px;
    display: flex;
    justify-content: flex-end;
  }
}

.Contents__btn{
  text-decoration: none;
  color: #ffffff;
  margin-left: 5px;
}
.GroupList{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
}

.Group{
  padding: 20px 20px 40px 20px;
  &__name{
    font-size: 15px;
    margin-bottom: 5px;
  }
  &__message{
    font-size: 11px;
  }
}


.Chat{
  width: calc(100vw - 300px);
}
.ChatHeader{
  height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;

  &__groupName{
    font-size: 20px;
    color: #333333;
    margin-top: 35px;
  }
}

.memberList{
  font-size: 12px;
  color: #999999;
  display: flex;
  justify-content: start;
  margin-top: 15px;
}

.memberName{
  margin-left: 5px;
}

.Edit-form{
  display: flex;
}

.Edit-btn{
  display: block;
  height: 40px;
  width: 72px;
  margin-top: 28px;
  padding:0 20px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  color: #38aef0;
  border: 1px solid #38aef0;
  text-decoration: none;
}


.ChatTable{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding:35px 0 0 40px;
}

.Message{
  margin-bottom: 46px;
}

.MessageInfo{
  display: flex;
  margin-bottom: 12px;
  &__name{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
  }
  &__date{
    font-size: 12px;
    color: #999999;
    text-align: start;
    padding-left: 10px;
  }
}

.MessageText{font-size: 14px;
  color: #434A54;
}



.Footer{
  height: 90px;
  background-color: #d2d2d2;
  }